---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <!-- <CallToAction /> -->
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Hak Milik <a href="https://jbns.sabah.gov.my/">JBNS</a>.  ❤️
      </p>
    </div>
  </section>
</footer>
